<% include ../partials/header.ejs %>
<div class="flex">
    <div class="bg-sky-200 text-blue-600 w-1/5 min-w-40 h-screen flex-shrink-0">
        <div class="p-6">
            <h1 class="text-2xl text-blue-900 font-bold text-center">Admin Panel</h1>
        </div>
        <nav class="flex flex-col items-start justify-center">
            <a href="/admin/users" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Users</a>
            <a href="/" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Home</a>
            <a href="/admin/products" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Products</a>
            <a href="/admin/orders" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Orders</a>
            <a href="/admin/settings" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Settings</a>
            <a href="/logout" class="block py-2 px-6 text-xl font-semibold hover:bg-blue-800 hover:text-white hover:w-full">Logout</a>
        </nav>
    </div>
    <div class="flex-1 p-10">
        <h2 class="text-2xl font-bold">Dashboard</h2>
        <p>Your dashboard content goes here.</p>
    </div>

</div>

<% include ../partials/footer.ejs %>